// skip link
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $solid-white;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

.announcement {
    text-align: center;
    padding: 10px 0;
}

.nav-bar {
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
    }
}

.search-cart {
    display: flex;

    .menu-icon,
    .bag {
        margin-right: 15px;
    }

    .bag {
        display: flex;
    }
}

// slide out nav
.slide-out-nav {
    display: none;
}